

body{
    /* background-color: aqua; */
    background-color: rgb(10, 18, 42);
    color: white;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}


.header{
    display: flex;
    justify-content: space-between;
}
.btn{
    
    border-radius: 10px;
    padding: 11px;
    margin: 5px;
    background-color: rgb(52, 52, 120);
}
#h1{

    display: grid;
    justify-content: center;
    padding: 10px;
    font-size: 35px;
}
#Profile{
    
    background-color: white;
    padding: 20px;
    width: 25%;
}